@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-text: 255, 255, 255;
  --background: 15, 15, 15;
}

body {
  color: rgb(var(--foreground-text));
  background-color: rgb(var(--background));
}
